#slider {
	margin-top: 60px;
}
.slider-navigation {
	background: aquamarine;
	padding: 30px 15px;
	text-align: center;
}
#slider-thumbs {
	margin-top: -100px;
}
#slider-thumbs .list-inline li {
	width: 25%;
	padding: 0px;
	margin-right: -4px;
	cursor: pointer;
}
#slider-thumbs .list-inline li:first-child {
	padding-left: 5px;
}
.slider-nav-arrow {
	text-align: center;
	margin-bottom: 0px;
	visibility: hidden;
}
.selected .slider-nav-arrow {
	visibility: visible;
}    
.selected .slider-navigation {
	opacity: 0.5;
}
/* Parallax */
section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}
.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
/* Video Parallax Background */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: url('https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-medium-checks.png') left top repeat;
  	opacity: 0.3;
}
.video-hero--content {
	position: relative;
	text-align: center;
	color: #FFF;
  margin: 150px 0;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}